:root {
    --text: #212121;
    --text-light: #757575;
    --background: #2F303A;
    --highlighting: #2196F3;  
    --dark-highlighting: #014379;
    --light-background: #F5F4FA;
}

body {
    font-family: 'Roboto', sans-serif; 
}

.logo {
    font-family: "Raleway";
    color: var(--highlighting);
    text-decoration: none;
    font-weight: 700;
    font-size: 26px;
}

.logo:hover {
    color: var(--dark-highlighting)
}

.ul-hide {
    list-style-type: none;
}

.nav-link {
    text-decoration: none;
    color: var(--text)
}

.nav-link:hover {
    color: var(--highlighting);
}

.contact {
    text-decoration: none;
    font-style: none;
    color: var(--text-light)
    font-weight: 500;
    font-size: 14px;
}

.contact:hover {
    color: var(--highlighting);
}

.dark-background {
    background-color: var(--background);
}

.solutions {
    color: white;
    width: 696px;
    height: 120px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.request-button {
    color: white;
    background-color: var(--highlighting);
    width: 200px;
    height: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    text-align: center;
    cursor: pointer;
    border-width: 0px;
}

.request-button:hover {
    background-color: var(--dark-highlighting);
}

.hide {
    visibility: hidden;
}

.features-heading {
    font-size: 14px;
    text-transform: uppercase;
    color: var(--text);
}

.features-text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--text-light);
}

.header {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: var(--text);
}

.light-background {
    background-color: var(--light-background);
}

.header {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: var(--text);
}

.contact-card {
    width: 270px;
    height: 368px;
    background-color: white;
}

.name {
    font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: var(--text);
}

.name-desc {
    text-align: center;
    color: var(--text-light);
}

.address {
    text-decoration: none;
    font-style: none;
    color: white;
}

.address:hover {
    color: var(--dark-highlighting);
}

.contact-bottom {
    text-decoration: none;
    font-style: none;
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
}

.contact-bottom:hover {
    color: white;
}

.portfolio-button {
    background-color: var(--light-background);
    color: var(--text);
    border-radius: 4px;
    border-width: 0px;
}

.portfolio-button:hover {
    background-color: var(--highlighting);
    color: white;
}

.portfolio-card {
    width: 370px;
    height: 404px;
}

.portfolio-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    color: var(--text);
}

.portfolio-name-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
    color: var(--text-light);
}